*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-1 {
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-right: 27px;
}

.nav-link {
    display: inline;
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     margin-left: 20px;
      
}
.nav-link:hover{
    color: #ff7300;
}
.header-logo span{
   border: 1px solid white;
   font-size: 20px; 
   text-align: center;
   padding: 5.5%;
   font-family: Arial, Helvetica, sans-serif;
}
.header-logo{
margin-top: 15px;
font-family: 'poppins-semibold', 'poppins', sans-serif
}
a {
    text-decoration: none;
}
a:hover{
    color: #ff7300;
}
.icon {
    height: 100px;
    width: 170px;
    background-color: #262626;
    color: #ffffff;
    text-align: center;
    padding: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.login-logo {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-bottom: -5px;
    margin-right: 2px;
}
.cart-logo{
    height: 35px;
    width: 45px;
    border-radius: 100%;
    margin-bottom: -5px;
    margin-right: 2px;
}
.nav-item{
    padding: 29px;
    height: 30px;
}
.nav-item ul{
    height: 40px;
}
 /* container-2 */
 .container-2{
 padding-left: 21%;
 padding-top: 6%;
 padding-right: 13.90%;
 }
 .c2-mainheading{
font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", Arial, sans-serif;
font-size: 40px;
font-weight: 400;
color: #868686;
 }
 .cards{
    height: 300px;
    width: 1000px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
 }
 .sinup{
     font-size: 30px;
     font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", 'Times New Roman', Times, serif, sans-serif;
     color: #000000;
 }
 .card-para{
    margin-top: 30px;
    font-size: 17px;
    font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", Arial, sans-serif;
    color: #000000;
 }
 .card-button{
    margin-top: 20px;
 }
 .card-button button{
    height: 48px;
    width: 239px;
 }
 .card-btn-1{
    background-color: #000000;
    font-size: 16px;
    color: #ffffff;
 }
 .payment{
    font-size: 30px;
    font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", 'Times New Roman', Times, serif, sans-serif;
    color: #00000066;
    word-spacing: 20px;
 }
 .order{
    padding: 9%;
    border: 2px solid #00000066;
 }
 .order-summry{
    font-size: 30px;
    font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", Arial, sans-serif;
    color: #000000;
 }
 
 pre{
    margin-top: 30px;
    font-size: 20px;
    font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", 'Times New Roman', Times, serif, sans-serif;
    color: #000000;
 }
 .total{
    margin-top: 30px;
    word-spacing: 260px;
    font-size: 20px;
    font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", 'Times New Roman', Times, serif, sans-serif;
    color: #000000;
 }
 .secure{
    text-align: end ;
    margin-right: 370px;
    margin-top: 24px;
    font-size: 20px;
    font-family: "Avenir Next", "HelveticaNeueW02-45Ligh", 'Times New Roman', Times, serif, sans-serif;
 }
 /* container 3 */
 .container-3{
    margin-top: 70px;
    height: 360px;
    background-color: #262626;
    display: flex;
    padding: 4% ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.text{
 text-decoration: none;
}
 .texts{
    display: flex;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    
 }
 .text{
    color: #ffffff;
    font-size: 16px;
    font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_35-light",'Times New Roman', Times, serif, sans-serif;
 
}
 .bottom-para-2{
    color: #ffffff;
    font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_25-light",'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
 }

 /* container 4 */
 footer{
    height: 122px;
    width: cover;
    background-color: #ff7300;
    color: #262626;
    text-align: center;
    padding: 4%;
    font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_25-light",'Times New Roman', Times, serif, sans-serif;
 }
 footer a{
     text-decoration: underline;
     color: #262626;
 }
 html {
    scroll-behavior: smooth;
  }

